<head>
<title>Home</title>
</head>
<body>
<h1> Home </h1>
<h2>Welcome to The Purple Geese Soccer League Database</h2>
<h3>This web-driven database is dedicated to helping parents and players keep track 
of the Divisions, Seasons, Teams, Games, Players, Adults, and Volunteers that 
make up our fabulous soccer club. </h3><h3>Fill out a <strong>Form</strong> in the <strong>Orders</strong> page to get your child or children eligble to play
today!</h3>
</body>